body {
	background-color: #666699;
	color: #ffffff;
	margin-left: 100px;
	margin-right: 100px;
}
h1 {
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
}
p {
	font-size: 24px;
}
a {
	color: #ffffff;
	text-align: center;
}
div {
	text-align: center;
}
hr {
	color:  #ffffff;
	margin-top: 30px;
}